@import './scss/grid';

@import url('https://fonts.googleapis.com/css?family=Poppins');

html, 
body {
    font-family: "Poppins";
    background-color: #141414;
    color: white;
}

body {
    padding-top: 120px;    
}
